@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/Yekan-Bakh-FaNum-01-Hairline.woff) format("woff"),url(../fonts/Yekan-Bakh-FaNum-01-Hairline.eot) format("eot"),url(../fonts/Yekan-Bakh-FaNum-01-Hairline.ttf) format("ttf")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Yekan-Bakh-FaNum-02-Thin.woff) format("woff"),url(../fonts/Yekan-Bakh-FaNum-02-Thin.eot) format("eot"),url(../fonts/Yekan-Bakh-FaNum-02-Thin.ttf) format("ttf")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Yekan-Bakh-FaNum-03-Light.woff) format("woff"),url(../fonts/Yekan-Bakh-FaNum-03-Light.eot) format("eot"),url(../fonts/Yekan-Bakh-FaNum-03-Light.ttf) format("ttf")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Yekan-Bakh-FaNum-04-Regular.eot) format("woff"),url(../fonts/Yekan-Bakh-FaNum-04-Regular.eot) format("eot"),url(../fonts/Yekan-Bakh-FaNum-04-Regular.ttf) format("ttf")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Yekan-Bakh-FaNum-05-Medium.woff) format("woff"),url(../fonts/Yekan-Bakh-FaNum-05-Medium.eot) format("eot"),url(../fonts/Yekan-Bakh-FaNum-05-Medium.ttf) format("ttf")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Yekan-Bakh-FaNum-06-Bold.woff) format("woff"),url(../fonts/Yekan-Bakh-FaNum-06-Bold.eot) format("eot"),url(../fonts/Yekan-Bakh-FaNum-06-Bold.ttf) format("ttf")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Yekan-Bakh-FaNum-07-Heavy.woff) format("woff"),url(../fonts/Yekan-Bakh-FaNum-07-Heavy.eot) format("eot"),url(../fonts/Yekan-Bakh-FaNum-07-Heavy.ttf) format("ttf")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Yekan-Bakh-FaNum-08-Fat.woff) format("woff"),url(../fonts/Yekan-Bakh-FaNum-08-Fat.eot) format("eot"),url(../fonts/Yekan-Bakh-FaNum-08-Fat.ttf) format("ttf")
}