<header class="container py-5 sticky top-0 z-50 px-5">
    <nav class="rounded-2xl py-5 px-7 bg-white flex items-center gap-4">
        <a href="#">
            <img src="assets/images/brand/logo.png" alt="meet logo" class="w-16">
        </a>
        <ul class="flex items-center divide-x-2 divide-x-reverse divide-gray-30">

            {{#each header.menus }}
                <li class="px-5 font-medium">
                    <a class="px-2 py-4" href="{{this.link}}">{{this.title}}</a>
                </li>
            {{/each }}
        </ul>
    </nav>
</header>