{{#> base/layout }}

    <section class="h-screen bg-slate-800 flex flex-col text-white items-center justify-center">
        
        <span>Author: <a href="#">mostafa fallahi</a></span>

    </section>

{{/base/layout}}
